

html, body {
   width: 100%;
   height: 100%;
   margin: 0;
}    
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    color:white;
    background: black;
}

div {
}

#game{
  height: 100%;
  padding: 10px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}



#title-bar {
    width:auto;
  padding: 10px;
    text-align: center;
    font-weight: bold;
    color: gray;
}

/********** MAP ************/

#interface-map{
    height: 100%;
    text-align: center;
}

#map {
    border: 2px solid white;
    background: gray;
}

#main-interface {
  padding: 10px;
    height: 100%;
    
}

/********** INTERACTION ************/

#interface-interaction{
    padding: 50px;
   text-align: center;
        width: 50%;
    min-width: 400px;
        margin:auto;
}
#interaction-illu-text {
    display: flex;
}
#interaction-illu img {
    image-rendering: crisp-edges;
        width: 256px;
}
#interaction-illu  {
    display: flex; 
        margin:  5px;
        padding: 0;

}

#interaction-title {
    font-weight: bold;
    color:#fff;
    margin:5px;
    padding: 5px;
    text-align: 
    
}
#interaction-text-container{
            margin:  5px;

    display: flex;
  flex-direction: column;
  justify-content: center;    width: 100%; 
        background: white;

    
}
#interaction-text {
    padding: 10px;
    color:black;
        margin:  5px;
    
}

.button {
    background: black;
    color: white;
    padding: 5px;
    margin:  5px;
    border: 2px solid gray;
    min-width: 300px;
}

.button:hover, .button.selected:hover {
    background: gray;
    border-color: gray;
    color:black;
    
}
.button:disabled, .button:disabled:hover, .button.selected:disabled {
    color: gray;
    background: black;
}

.button.selected {
    background: gray;
    border-color:white;
    color:black;

}
#interaction-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;s
}


/********* STATUS BAR **********/

#status-bar{
    background:  gray;
    display: flex;
        border: 2px solid gray;

}

.status-info-title {
    font-weight: bold;
}
.status-info{
    margin-right: 2px;
    padding: 2px;
    background: #fff;
    color:#000;
}