
* {
    font-family: 'entercommand';
    font-size:24pt;
    letter-spacing: 1pt;
    line-height: 20pt;
    box-sizing: border-box;
}


html, body {
   width: 100%;
   height: 100%;
   margin: 0;
}


body {
    color: white;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#game{
  width: 960px;
  height: 600px;
  /*  
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
*/
    border: 2px solid white;
    box-sizing: content-box;

}

#loading{
    margin:20px;sz
    
}

#infos{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    height: 120px;
    
}


#infos> * {
    margin: auto;
    padding: 0;
    width:100%;
    
}

#illu img{
    width: 100%;
    height: 100%;
}

#stories_list {
    height: 480px;
    display: flex;
    flex-direction: column;
    margin:5px;
}

#stories_list_element{
    
    margin:5px;
    
}
#stories_list_element_title{
    background: white;
    color:black;
    padding: 0 4px;
}

#stories_text{
    padding: 25px 15px;
    text-align: center;
        border-top: 2px solid white;

}
/***********MENU**********/

.menu{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.menu #illu {
    position: absolute;
    left: 0;
    background: pink;
    image-rendering: crisp-edges;
  width: 480px;
  height: 480px;
      border-bottom: 2px solid white;

}
.menu #menu_gui{
        position: absolute;
        text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 480px;

    width:480px;
      height: 480px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;

}

#title{
    border-bottom:2px solid white;
    padding: 2px;
    font-size: 24pt;
    font-weight: bold;
    width: 100%;

}

#options {
    margin: 20px;
}

.button {
    background: black;
    color: white;
    margin:  2px;
    min-width: 300px;
    border: 2px solid white;    
}

.button:hover, .button.selected {
    background: white;
    color:black;
    
}
.button:disabled {
}

.button:disabled, .button:disabled:hover, .button.selected:disabled {
    color: gray;
    text-decoration-line: 3px;

    text-decoration: line-through ;
}


#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

/********** MAP ************/

#map{
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}

#map_canvas {
  border-bottom: 2px solid white;
}






/********* INVENTORY BAR **********/

#inventory_bar, #status_bar{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

#inventory_bar {
    justify-content: center;
}
#status_bar {
    justify-content: space-between;
    border-top: 2px solid white;
    
}

.life_indicator{
    color:black;
}
.progress_bar {
    background: gray;
    width:300px;
    height: 12pt;
    position: relative;
    border: 2px solid white;
}
.progress_bar .inventory_element_value{
    position: absolute;
    top:50%;
    line-height: 0;
    width:100%;
    text-align: center;
    z-index: 3;
}
.progress_bar_fill {
    position: relative;
    width:100%;
    height: 100%;
    background:white;
}
.inventory_element > *, .life_indicator >  * {
    margin: 0 5px;
}
.inventory_element, .life_indicator{
    display: flex;
    align-items: center;
    justify-content: center;
        margin: 2px;

}

#menu_gui,  .life_indicator_title {
    display: none;
}


#inventory_bar .inventory_element {
    background: lightgray;
    color:#000; 
}

/************* DEV ************/


#devbox, #inventorybox {
    width: 960px;
    border:2px solid white;
    padding: 2px;
    text-align: center;
}

input {
    border: 2px solid white;
    margin: 2px;
    height: 28px;
}

select {
    width: 14px;
    height: 14px;
    border: 7px solid black;
    border-top: 7px solid white;
    margin:0;
    padding: 0;
}